{% extends "base-log-reg.html" %}
{% load static %}
{% block content%}

</nav>

</header>
<section class="login-page">
    {%if messages %}
    {% for message in messages %}
    <ul style="color: red"><h3>{{ message }}</h3></ul>
    {% endfor %}
    {% endif %}
    <h2>Ustaw nowe hasło</h2>
    <form action="{% url 'reset-user-password' uidb64 token %}" method="POST" enctype="multipart/form-data" style="text-align: center">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" name="password" placeholder="Hasło" />
        </div>
                <div class="form-group">
            <input type="password" name="password2" placeholder="Potwierdź hasło" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn" name="pas" value="Submit">Zmień hasło</button>
        </div>
    </form>
</section>


{% endblock %}
