{% extends "base.html" %}
{% load static %}
{% block content%}
</nav>
<div style="text-align: center">
              <h2>Dane użytkownika </h2>
          <h3>Imię: {{ user.first_name }}</h3>
          <h3>Nazwisko: {{ user.last_name }}</h3>
          <h3>email: {{ user.email }}</h3>
          <h2>Przekazałeś :</h2>
</div>
</header>
      <div class="slogan container container--90">



          {% for d in donations %}
              <div name="{{ d.is_taken }}">
                  <h3>Data utworzenia: {{ d.don_creation }}.</h3>
          <h3>{{ d.quantity }} worków dla {{ d.institution.name }}.</h3>
          <p>Rodzaj instytucji: {{ d.institution.get_type_display }}</p>
          <p>Termin odbioru {{ d.pick_up_date }}</p>
          <p>Czas odbioru {{ d.pick_up_time }}</p>

          <p>Czy odebane
              {% if d.is_taken %}
          TAK
          {% else %}
          NIE
              {% endif %}
          </p>


          <form action="{% url 'userprofile' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn" value="{{ d.id }}" name="taken">Odebrane</button>
              <button type="submit" class="btn" value="{{ d.id }}" name="notaken">Nie odebrane</button>
          </form>
          <hr>
      </div>
          {% endfor %}
      </div>
{% endblock %}